<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Account</span>
    <div class="grid">
        <div class="col-12 lg:col-2">

            <p class="m-0 p-0 text-600 line-height-3 mr-3">Yeni kullanıcı tanımlama ekranıdır</p>
        </div>
        <div class="col-12 lg:col-10">

            <form #accountSaveForm="ngForm">
                <div class="grid formgrid p-fluid">
                    <div class="field mb-1 col-12">
                        <label for="email" class="font-medium text-900">Email</label>
                        <input id="email" name="email" type="text" pInputText [(ngModel)]="amacSaveModel.email" required>
                    </div>
                    <div class="field mb-4 col-12 flex justify-content-end flex-wrap">
                        <button id="btnKaydet" name="btnKaydet" pButton pRipple label="Kaydet" (click)="ekle()" class="w-auto mt-3" [disabled]="accountSaveForm.form.invalid"></button>
                    </div>
                </div>
            </form>

            <div class="grid formgrid p-fluid mt-5">
                <div class="field mb-4 col-12">
                    <p-table responsiveLayout="scroll" #dt [value]="accountList" [rows]="8" [paginator]="true">
                        <ng-template pTemplate="header">
                            <tr>

                                <th pSortableColumn="email" style="width:80%" class="white-space-nowrap">EMail
                                    <p-sortIcon field="email"></p-sortIcon>
                                <th pSortableColumn="ekleyen" style="width:80%" class="white-space-nowrap">Ekleyen
                                    <p-sortIcon field="ekleyen"></p-sortIcon>

                                <th style="width:10%">Güncelle</th>
                                <th style="width:10%">Sil</th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-accounts>
                            <tr>

                                <td>{{ accounts.email }}</td>
                                <td>{{ accounts.ekleyen }}</td>
                                <td>
                                    <button pButton class="p-button-warning w-auto" (click)="guncelleDialog(accounts)">
                                        Güncelle
                                    </button>
                                </td>
                                <td>
                                    <button pButton class="p-button-danger w-auto" (click)="sil(accounts.id)">
                                        Sil
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="flex align-items-center justify-content-between">
                                Toplamda {{accountList ? accountList.length : 0 }} tane hesap var.
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog [(visible)]="showGuncelleDialog" [style]="{width: '60rem'}" [modal]="true" header="Account Güncelle">

    <div class="col-12 md:col-12">
        <form #accountUpdateForm="ngForm">
            <div class="p-fluid p-formgrid grid">
                <div class="field mb-1 col-12">
                    <label for="cloneEmail" class="font-medium text-900">EPosta</label>
                    <input id="cloneEmail" name="cloneEmail" type="text" pInputText [(ngModel)]="accountUpdateModel.email" required>
                </div>
                <div class="field mb-4 col-12  flex justify-content-end flex-wrap">
                    <button pButton pRipple label="Kaydet" class="w-auto mt-3" (click)="guncelle()" [disabled]="accountUpdateForm.invalid"></button>
                </div>
            </div>
        </form>
    </div>
</p-dialog>
